<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="../Controller/index.php" method="post">
        <button type="submit" name="show_product">Show Product</button>
        <br/>
        <button type="submit" name="show_orders">Show Orders</button>
        <br/>
        <button type="submit" name="show_users">Show Users</button>
        <br/>
        <!-- <button type="submit" name="query_run">Edit in Data by query</button> -->
    </form>
</body>
</html>